:root {
  /* COLORS */

  /* Accent */
  --blue: #18a0fb;
  --purple: #7b61ff;
  --hot-pink: #ff00ff;
  --green: #1bc47d;
  --red: #f24822;
  --yellow: #ffeb00;

  /* Light */
  --light-red: #fbe9e4;

  /* Basic foreground */
  --black: #000000;
  --black8: rgba(0, 0, 0, 0.8);
  --black8-opaque: #333333;
  --black4: rgba(0, 0, 0, 0.4);
  --black4-opaque: #999999;
  --black3: rgba(0, 0, 0, 0.3);
  --black3-opaque: #b3b3b3;
  --white: #ffffff;
  --white8: rgba(255, 255, 255, 0.8);
  --white4: rgba(255, 255, 255, 0.4);

  /* Basic background */
  --grey: #f0f0f0;
  --silver: #e5e5e5;
  --hud: #222222;
  --toolbar: #2c2c2c;

  /* Special */
  --black1: rgba(0, 0, 0, 0.1);
  --blue3: rgba(24, 145, 251, 0.3);
  --purple4: rgba(123, 97, 255, 0.4);
  --hover-fill: rgba(0, 0, 0, 0.06);
  --selection-a: #daebf7;
  --selection-b: #edf5fa;
  --white2: rgba(255, 255, 255, 0.2);

  /* TYPOGRAPHY */
  /* Pos = positive applications (black on white) */
  /* Neg = negative applications (white on black) */

  /* Font stack */
  --font-stack: 'Inter', sans-serif;

  /* Font sizes */
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-large: 13px;
  --font-size-xlarge: 14px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* Lineheight */
  --font-line-height: 16px; /* Use For xsmall, small font sizes */
  --font-line-height-large: 24px; /* Use For large, xlarge font sizes */

  /* Letterspacing */
  --font-letter-spacing-pos-xsmall: 0.005em;
  --font-letter-spacing-neg-xsmall: 0.01em;
  --font-letter-spacing-pos-small: 0;
  --font-letter-spacing-neg-small: 0.005em;
  --font-letter-spacing-pos-large: -0.0025em;
  --font-letter-spacing-neg-large: 0.0025em;
  --font-letter-spacing-pos-xlarge: -0.001em;
  --font-letter-spacing-neg-xlarge: -0.001em;

  /* BORDER RADIUS */
  --border-radius-small: 2px;
  --border-radius-med: 5px;
  --border-radius-large: 6px;

  /* SHADOWS */
  --shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
  --shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);

  /* SPACING + SIZING */
  --size-xxxsmall: 4px;
  --size-xxsmall: 8px;
  --size-xsmall: 16px;
  --size-small: 24px;
  --size-medium: 32px;
  --size-large: 40px;
  --size-xlarge: 48px;
  --size-xxlarge: 64px;
  --size-huge: 80px;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-xsmall);
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: #333;
}

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  border-top: 1px solid #efefef;
  margin: 0;
}

section,
.sectionBox {
  padding: var(--size-xxxsmall) 0;
  &.flexSection {
    display: flex;
    flex-direction: column;
  }
}

.flexGrow {
  flex-grow: 1;
}

.rowBox {
  padding-left: var(--size-xxsmall);
  padding-right: var(--size-xxsmall);
}

.flexRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > :not(:first-child) {
    margin-left: var(--size-xxsmall);
  }
}

.sidePadding {
  padding-left: var(--size-xsmall);
  padding-right: var(--size-xsmall);
}

.smallSidePadding {
  padding-left: var(--size-xxsmall);
  padding-right: var(--size-xxsmall);
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--blue);
}
a:active {
  color: var(--blue);
}
a:focus {
  text-decoration: underline;
}

span.color {
  background: red;
  height: 18px;
  width: 18px;
  display: inline-block;
  background: #f4f4f4;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  margin-right: 8px;
}

.singleItem {
  height: var(--size-medium);
  padding: 0 var(--size-xxsmall);
  display: flex;
  align-items: center;

  .label {
    flex-grow: 1;
  }

  &:hover .hiddenUntilHover {
    visibility: inherit;
  }

  > :first-child {
    margin-left: var(--size-xxsmall);
  }
}

p {
  margin: 0;
}

.hiddenUntilHover {
  visibility: hidden;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: unset;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

body:hover ::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.icon-component {
  position: relative;
}
